.menu{

    &-container{
        background-color: #9b9b9b;
        height: 100%;
    }

    &-list{
        width: 100%;
    }

    &-card{
        border: none;
        border-bottom: 1px solid #cccccc;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color: #cccccc;
        }

        &-link{
            color: white;

            &:hover{
                text-decoration: none;
            }
        }
    }
}