<div class="container-fluid header-container-fluid">
    <div class="container header-container">
        <div class="row header-row">
            <div class="col-6 header-col header-col-left">
                <a routerLink="" class="header-logo">
                    <span class="header-logo-text">MEDELLIN</span>
                </a>
            </div>
            <div class="col-6 header-col header-col-right">
                <a routerLink="/login">
                    <img src="../../../assets/icon/user.png" alt="userIcon" class="header-user">
                </a>
            </div>
        </div>
    </div>
</div>        
